<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="soni" class="img-fluid" title="prahlad soni">
                        </figure>
                    </div>

                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="text_color">Mern Stack Developer</span> And A Freelancer</h1>
                        <a href="https://www.linkedin.com/in/prahlad-soni-a87a3a16b" target="_soni"><button>About Me</button></a> 
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer part -->
    {{>footer}}
</body>
</html>